# Compiled Object files
*.o
*.obj
src/dpaste

# Executables
*.exe
*.out
*.app

# git backup files
*.orig

# vim swap files
*.swp
*.swo

# Ctags
tags

# YCM
.ycm_extra_conf.py*
compile_commands.json

# autotools files
/ac
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.pc

# CMake dir
build
