[Unit]
Description=OpenDHT HTTP proxy for dpaste
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
CacheDirectory=dpaste
ExecStart=/usr/bin/dhtnode --service --port 0 --bootstrap bootstrap.jami.net:4222 --proxyserver 6509 --proxy-addr 127.0.0.1 --persist ${CACHE_DIRECTORY}/dhtnode
Restart=on-failure

[Install]
WantedBy=default.target
